<div class="container">
    <div class="row mt-4">
        <div class="col d-flex justify-content-between">
            <h1>Archivos</h1>
            <select class="form-select" [(ngModel)]="accionSeleccionada" (change)="accionCambia()">
                <option value="">Seleccionar acción...</option>
                <option value="nuevo">Nuevo</option>
                <option value="borrar" (click)="eliminarArchivos()">Borrar</option>
            </select>
        </div>
    </div>

    @if (mostrarForm == true) {
        <app-form-archivo (archivoEmitter)="pushearArchivo($event)"></app-form-archivo>
    } @else {
        @for (item of listaArchivos; track item) {
            <app-archivo (archivoSeleccionado)="agregarEliminado($event)" [archivo]=item></app-archivo>
        }
    }
</div>
