<div class="container">
    <app-form-archivo (archivoEmitter)="pushearArchivo($event)"></app-form-archivo>
    <div class="row mt-4">
        <div class="col d-flex justify-content-between">
            <h1>Archivos</h1>
            <select class="form-select">
                <option value="nuevo">Nuevo</option>
                <option value="borrar">Borrar</option>
            </select>
        </div>
    </div>

    @for (item of listaArchivos; track item) {
        <app-archivo [archivo]=item></app-archivo>
    }
</div>
